@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;800&display=swap");

:root {
  // Colors
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);

  // Fonts
  --ff: "Epilogue", sans-serif;
  --fs: 18px;
  --fw-normal: 500;
  --fw-bold: 700;
}
